<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оцінювальний тест з німецької</title>
    <link rel="stylesheet" href="/style/tests/test.css">
</head>
<body>

    <div class="test-container">
        <h2>Тест на знання німецької мови</h2>
        <p>Щоб визначити ваш рівень знань, дайте відповіді на питання.</p>

        <form id="test-form" action="/submit-test" method="POST">
            <% questions.forEach((q, index) => { %>
                <label for="question<%= q.id %>"><%= index + 1 %>. <%= q.question %></label>
                <input type="text" id="question<%= q.id %>" name="question_<%= q.id %>" required>
            <% }); %>
        
            <button type="submit">Завершити тест</button>
        </form>
        
    </div>
    <script src="/js/tests/test.js" defer>
        
    </script>
</body>
</html>
